<section class="projects">
    <h2 class="title">Projects</h2>
    <div class="project">
            <h2 class="project-title">Passthrough</h2>
            <p class="project-stat">
                <span class="progress"></span>
                <span class="version"><img src="https://img.shields.io/badge/version-1.0-green.svg?style=flat-square&maxAge=2592000" alt="version"></span>
                <span class="issues"><img src="http://githubbadges.herokuapp.com/dyong0/spa-jquery/issues.svg?style=flat-square&maxAge=2592000" alt="issues"></span>
            </p>
            <p class="project-desc">Passthrough is an API gateway, which can be configured by restful APIs. Of course, it’s scalable and supports UI for API providers and their clients.</p>
    </div>
    <div class="project">
            <h2 class="project-title">Tiny Rest Storage</h2>
            <p class="project-stat">
                <span class="progress"></span>
                <span class="version"><img src="https://img.shields.io/badge/version-1.0-green.svg?style=flat-square&maxAge=2592000" alt="version"></span>
                <span class="issues"><img src="http://githubbadges.herokuapp.com/dyong0/spa-jquery/issues.svg?style=flat-square&maxAge=2592000" alt="issues"></span>
            </p>
            <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vel eaque maiores dolores, laudantium quidem sit magnam consequatur necessitatibus saepe, omnis velit nam praesentium deserunt similique amet temporibus placeat. Reiciendis.</p>
    </div>
    <div class="project">
            <h2 class="project-title">Planner CLI</h2>
            <p class="project-stat">
                <span class="progress"></span>
                <span class="version"><img src="https://img.shields.io/badge/version-1.0-green.svg?style=flat-square&maxAge=2592000" alt="version"></span>
                <span class="issues"><img src="http://githubbadges.herokuapp.com/dyong0/spa-jquery/issues.svg?style=flat-square&maxAge=2592000" alt="issues"></span>
            </p>
            <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vel eaque maiores dolores, laudantium quidem sit magnam consequatur necessitatibus saepe, omnis velit nam praesentium deserunt similique amet temporibus placeat. Reiciendis.</p>
    </div>
    <div class="project">
            <h2 class="project-title">Red-Green TDD</h2>
            <p class="project-stat">
                <span class="progress"></span>
                <span class="version"><img src="https://img.shields.io/badge/version-1.0-green.svg?style=flat-square&maxAge=2592000" alt="version"></span>
                <span class="issues"><img src="http://githubbadges.herokuapp.com/dyong0/spa-jquery/issues.svg?style=flat-square&maxAge=2592000" alt="issues"></span>
            </p>
            <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vel eaque maiores dolores, laudantium quidem sit magnam consequatur necessitatibus saepe, omnis velit nam praesentium deserunt similique amet temporibus placeat. Reiciendis.</p>
    </div>
</section>