@import './lib/media-queries.scss';
@import './lib/common.scss';

#index .about {
    .title {
       font-size:$title-font-size;
    }

    .desc, .msg {
        margin-top:1.0em;
    }
}

#index .projects {
    margin-top:3em;

    .title {
        font-size:$title-font-size;
        margin-bottom:0.7em;
    }

    .project {
        margin-bottom:2em;
    }

    @include desktop-and-up {
        margin-top:9em;


        .project {
            position:relative;
            top:0;
            width:48%;
            display:inline-block;
            vertical-align:top;
        }
        .project:nth-child(odd) {
            margin-left:2%;
        }

        .project-desc {
            word-wrap:break-word;
            word-break:keep-all;
            // 5 lines ellipsis
            @include webkit {
                height: $font-size * $line-height * 5;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow:hidden;
            }
        }
    }

    .project-title {
        font-size:$title-font-size;
    }

    .project-stat {
        margin-top:0.5em;
    }

    .project-desc {
        margin-top:0.5em;
    }
}