<section id="index">
    <section class="about">
        <h2 class="title">
            <span class="name">Joel / Junyong Lee</span>
            <a class="github" href="https://github.com/dyong0/"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/junyong-lee-9bb20aa8/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </h2>
        <p class="desc">
            <span class="position">Software Engineer @Rakuten<span>
            <a class="email" href="mailto://likedyong@gmail.com">likedyong@gmail.com</a>
        </p>
        <p class="msg">
            Love javascript and Node.js!
        </p>
    </section>

    {{> index/projects}}
</section>